**/*.pem
**/*.ppk
**/secrets.tfvars
**/plugins/*
**/.terraform*
**/*.swp
**/*.retry
**/*.ignore


# IDE
.idea

# OSX
*.DS_Store

# Python
__pycache__
cov.xml
.coverage
coverage.xml
htmlcov
.pytest_cache
.python-version
cov.xm
